/* YOUR STYLES */

body {
    background: black;
}

h1 {
    color: #a10022;
}


/*Header*/
.cd-header {
    background: #a10022;
}

/*Content Containers*/
.cd-gallery li {
    border-radius: 5px;
    background: white;
    padding: 1em;
}

/*Grid View*/

.grid li.mix {
    background: white;
}


/*List View*/

.list li.mix {
    background: white;
    width: 100%;
    
}